body{font-weight: 100;color: #fff;padding:0;margin:0;background-color: #133d6d;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

.view-history{position: fixed;left: 10px;top: 0;width: 200px; height: 500px;border: solid 1px rgba(255, 255, 255, 0.25);overflow: auto;padding: 5px;}
.view-history li{list-style: none;border: solid 1px rgba(255, 255, 255, 0.25); padding: 5px;cursor: pointer;margin-bottom: 5px;}
.view-history li:last-child{border: solid 1px #fff;font-weight: 200;}

.iphone{position: relative;height: 784px;border: 2px solid #fff;width: 366px;border-radius: 46px;margin:30px auto 10px;background-color: rgba(255, 255, 255, 0.15);}
.iphone .screen{position: absolute;width: 320px;height: 568px;border: 1px solid #fff;top: 108px;left: 22px;overflow: hidden;}
.iphone .lock-btn{width: 60px;height: 7px;background: #fff;position: absolute;top: -9px;left: 248px;border: 1px solid transparent;border-radius: 2px;}
.iphone .camera{width: 16px;height: 16px;background: #fff;border-radius: 16px;border: 1px solid transparent;left: 50%;margin-left: -8px;top: 26px;position: absolute;}
.iphone .headset{width: 70px;height: 12px;border: 1px solid transparent;border-radius: 14px;background: #fff;position: absolute;left: 50%;margin-left: -35px;top: 54px;}
.iphone .silent-btn{width: 5px;position: absolute;left: -7px;top: 106px;background: #fff;height: 36px;border: 1px solid transparent;border-radius: 1px;}
.iphone .plus-btn{width: 5px;position: absolute;left: -7px;top: 180px;background: #fff;height: 28px;border: 1px solid transparent;border-radius: 1px;}
.iphone .minus-btn{width: 5px;position: absolute;left: -7px;top: 244px;background: #fff;height: 28px;border: 1px solid transparent;border-radius: 1px;}
.iphone .home-btn{width: 70px;position: absolute;left: 50%;top: 695px;height: 70px;border: 1px solid #fff;border-radius: 70px;margin-left: -35px;}
.iphone .home-btn .icon{width: 24px;height: 24px;border-radius: 5px;border: 1px solid #fff;left: 50%;top: 50%;position: absolute;margin-top: -12px;margin-left: -12px;}


.view{background: white;width:320px;height: 568px;position: relative;}
.link{cursor: pointer;}

.btn{text-align: center;color: rgba(255, 255, 255, 0.75);position: absolute;margin:5px;width:308px;}
.btn:hover{color: #fff}
.btn-border{border: 1px solid rgba(255, 255, 255, 0.55);border-radius: 5px;background: rgba(255, 255, 255, 0.15);font-size: 1.5em;padding: 10px 0;}
.btn-nav{width: 40px;height: 40px;font-size: 2em;}
.btn-nav-right{right: 0;}

.lab{text-align: center;position: absolute;font-size: 0.8em;width: 100%;}
.lab-large{font-size: 3em !important;}
.lab-md{font-size: 1.8em !important;}
.lab small{font-size: 0.5em;}
.lab-nav-title{text-align: center;font-size: 1em;top:16px;}

.tab{margin: 10px auto;padding: 0;border: 1px solid rgba(255, 255, 255, 0.3);height:26px;position: absolute;border-radius: 5px;}
.tab li{list-style: none;text-align: center;float: left;padding:5px 20px;font-size: 0.9em;border-right: 1px solid rgba(255, 255, 255, 0.3);}
.tab li:last-child{border-right: none;}
.tab li.active{background-color: rgba(255, 255, 255, 0.1);}

.category-list{padding:0;margin:0;}
.category-list li{list-style: none;float: left;width: 106px;height: 106px;margin-bottom: -10px;}
.circle{width: 60%;height: 60%;border: 1px solid #fff;border-radius: 60%;margin:5px auto;position: relative;}
.circle div{position: absolute;text-align: center;width: 100%;height: 100%;font-size: 2em;top:14px;}
.list-condensed li{margin-bottom: -22px}

.table{margin: 0;padding: 0;}
.table li:first-child{border-top: 1px solid rgba(255,255,255, 0.3);}
.table li{list-style: none; position: relative;padding:10px;border-bottom: 1px solid rgba(255,255,255, 0.3)}
.table li .detail{font-size: 0.9em;color: rgba(255,255,255,0.6);}
.table li .detail-right{position: absolute;right: 10px;top:10px;}
.table li .select{width: 20px;height: 20px;border: 1px solid rgba(255,255,255,0.5); border-radius: 20px;}

.input{border:1px solid rgba(255, 255, 255, 0.3);border-radius: 5px;position: absolute;padding: 10px;font-size: 1.5em;width: 86%;margin-left:10px;}
.input-sm{font-size: 1em !important;padding:5px !important;}

.time-selector .item{height: 30px;color: rgba(255,255,255,0.5);padding: 5px;}
.time-selector .item div{float: left;text-align: center;}
.time-selector .item .date{width:40%;}
.time-selector .item .time{width:30%;}
.time-selector .item .ampm{width:30%;}
.time-selector .item-selected{font-size: 1.5em !important;color: #fff !important;background: rgba(255,255,255,0.1) !important;padding: 10px 5px;}

.pay-block{border-top:1px solid rgba(255, 255, 255, 0.3);background-color: rgba(255,255,255,0.1);position: absolute;bottom: 0;width: 100%;left: 0;}
.pay-block .btn-pay{text-align: center;padding: 10px;margin: 10px 20px;border: 1px solid rgba(255,255,255,0.3);border-radius: 5px;background: rgba(255,255,255, 0.8); color:#133d6d;font-weight: 200;}

.theme-blue .view{background-color: #133d6d;}